.manPicCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    .picSec {
      

        width: 100%;
        img {
            border-radius: 215px 215px 0 0;
            align-items: center;
        }
    }

    color: #021321;
    font-size: 22px;
}