.allMembers {
    padding: 40px;
    width: 100%;

    margin: 20px 0;

    .membersText {
        margin: 20px 0 0 0;

        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 50px;

        h1 {
            color: #021321;
            font-size: 64px;
        }

        span {
            display: block;
        }

        i {
            display: block;
            text-align: end;
            font-size: 24px;
            color: #2D2D2D;
        }



    }

    .membersSec {

        display: flex;
        align-items: center;
        gap: 40px;
        padding: 80px 0;
        overflow-x: none;
        
           
        
        
    }
}


.scrollContainer {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scrollContent {
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: scroll-animation 60s linear infinite;
  }
  
  @keyframes scroll-animation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
