* li {
  list-style: none;
}

* {
  text-decoration: none;
}

/* In your global CSS or inside Tailwind's custom styles */
ol.custom-list {
  counter-reset: list-counter;
}

ol.custom-list li {
  list-style-type: none;  /* Remove default numbering */
  counter-increment: list-counter;
}

ol.custom-list li::before {
  content: counter(list-counter) ". ";  /* Display the number */
  color: #000; /* Customize color */
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}



@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}